@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.header-main {
	background: #0e0a4d;
	height: 25rem;
	width: 100%;
}

#teal-circle {
	background: #92c7ce;
	border-radius: 50%;
	height: 12rem;
	width: 12rem;
}

#chapter-name {
	font-family: 'Lato', sans-serif;
	color: #ff3d3d;
	transform: rotate(-90deg);
	float: left;
	padding-top: 24%;
	padding-right: 5%;
	font-weight: 400;
}

.title-text-box {
	padding-top: 10%;
	margin-right: 25%;
	margin-left: 26%;
}

#oca-title {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 900;
	font-size: 1.7rem;
}

.accent-font {
	font-family: 'Lato', sans-serif;
	color: #ff3d3d;
}

.description {
	font-family: 'Lato', sans-serif;
	color: #fef8f6;
}

/* Ongoing Programs Section */
#ongoing-programs-box {
	background: #ffffff;
	color: #0e0a4d;
	font-family: 'Lato', sans-serif;
	margin-left: 21.5%;
	margin-right: 25%;
	padding-top: 2rem;
	display: flex;
	flex-direction: row;
}

#programs-text {
	font-weight: 900;
	padding-right: 3rem;
}

#programs-description {
	font-size: 0.5rem;
}
