@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

#header-main {
	background: #0e0a4d;
	height: 25rem;
	width: 100%;
}

#chapter-name {
	font-family: 'Lato', sans-serif;
	color: #ff3d3d;
	transform: rotate(-90deg);
	float: left;
	padding-top: 24%;
	padding-right: 5%;
	font-weight: 400;
}

.title-text-box {
	padding-top: 10%;
	margin-right: 25%;
	margin-left: 26%;
}

#oca-title {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 900;
	font-size: 1.7rem;
}

.accent-font {
	font-family: 'Lato', sans-serif;
	color: #ff3d3d;
}

.description {
	font-family: 'Lato', sans-serif;
	color: #fef8f6;
}

/* Ongoing Programs Section */

#ongoing-programs {
	margin-left: 21.5%;
	margin-right: 25%;
	padding-top: 2rem;
}

#ongoing-programs-box {
	background: #ffffff;
	color: #0e0a4d;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: row;
}

#programs-text {
	font-weight: 900;
	padding-right: 3rem;
}

#programs-description {
	font-size: 0.5rem;
}

#programs-boxes {
	font-family: 'Lato', sans-serif;
	font-size: 0.8rem;
	text-align: center;
	font-weight: 900;
	color: #0e0a4d;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 4%;
	padding-bottom: 10%;
}

.dark-blue-square {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 40%;
	background: #0e0a4d;
}

.program-icons {
	height: 100%;
	width: 75%;
}

.center-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#programs-boxes-1 {
	border: 1.5px solid #0e0a4d;
	background: #fef8f6;
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 75%;
	margin-right: 5%;
}

#programs-boxes-2 {
	border: 1.5px solid #0e0a4d;
	background: #fef8f6;
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 75%;
	margin-right: 5%;
}

#programs-boxes-3 {
	border: 1.5px solid #0e0a4d;
	background-color: #fef8f6;
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 75%;
}

/* Latest News Section */

#latest-news-section {
	background-color: #92c7ce;
	display: flex;
	flex-direction: row;
	height: 30rem;
}

#news-title {
	color: #0e0a4d;
	margin-left: 21%;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.4rem;
}

#picture-and-description {
	display: flex;
	justify-content: space-between;
	padding-top: 7rem;
	padding-right: 15rem;
}

#landing-news-photo {
	margin-right: 5%;
}

#inner-p-d {
	flex-direction: column;
}

.news-title {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #0e0a4d;
}

/* Get Involved Section */

#get-involved-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fef8f6;
	padding-left: 11%;
	padding-right: 15%;
}

#mailing-list-signup {
	display: flex;
	justify-content: space-between;
}

.mailing-list-input {
	border-width: 3px;
	border-color: #0e0a4d;
	font-family: 'Lato', sans-serif;
	font-size: 0.8rem;
}

.small-text {
	font-size: .8rem;
}

.involved-middle-column {
	width: 33%;
}

.bullet-margin {
	/* margin-right: 1rem; */
	padding-inline-start: 0px;
}

.sm-bulletpoints {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}

.social-media-icons {
	height: 20px;
	width: 20x;
	margin-right: 10px;
	color: #92c7ce;
}
