#programs-header {
	background: #92c7ce;
	height: 15rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.programs-page-title {
	color: #fef8f6;
}

/* PROGRAMS BODY */

#programs-body {
	margin-right: 20%;
	margin-left: 20%;
}

.program-blue-square-div {
	background-color: #0e0a4d;
	height: 3rem;
	width: 3rem;
}

.program-div-boxes {
	background-color: #fef8f6;
}

#programs-div-excerpt {
	font-size: 0.9rem;
	line-height: 1.3rem;
}
